.inputs_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.color-text {
  margin: 0;
  padding: 0.5rem 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.generated_criteria {
  padding: 0 0.5rem;
  justify-content: center;
}

.table_label {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}

.checker {
  width: 16px;
}

.checker.is-pass {
  color: green;
}

.checker.is-fail {
  color: red;
}
